<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marina Ortega</title>

    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Pacifico&display=swap" rel="stylesheet">
    
   

</head>
<body>
    <!-- Navigation -->
    <nav>
        <a href="index.html" class="logo">
            <img src="https://giphy.com/embed/Vt4wDrLAnH1tu">
         </a>
        <ul>
            <li><a href="projects.html">Projects</a></li>
            <li><a href="about.html">About</a></li>
        </ul>
        <a href="https://pascalstruck.com/" target="_blank"  data-input='link1' class="contact">
            <input type="checkbox" name="link1" value="link">
            <div class="outline"></div>
        </a>
    </nav>

    <!-- Content -->
    <main>
        <section>
            <div class="intro">
                <h1>¡Hola! <em>Salut!</em></h1>
                <p> El diseño gráfico ha sido un medio de comunicación poderoso a lo largo de la historia, transmitiendo ideas, creando identidades visuales y dando forma a la cultura visual. Sin embargo, como muchas disciplinas, el diseño gráfico ha sido influenciado por las dinámicas de género y desigualdades estructurales. 
                </p>
            </div>
        </section>

        <section>
            <div class="test"></div>
        </section>

        <section class="project-wrapper">
            <div class="cards">
                <a href="" class="card">
                    <div class="card-content">
                        <div class="card-border"></div>
                        <img class="card-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Lugar_del_accidente_de_Ram%C3%B3n_Sampedro_en_As_Furnas_1.jpg/500px-Lugar_del_accidente_de_Ram%C3%B3n_Sampedro_en_As_Furnas_1.jpg" alt="">
                        <div class="card-txt">
                            <h2 class="card-title">The sea inside</h2>
                            <p>The factual story of Spaniard Ramon Sampedro, who fought a 28-year campaign in favor of euthanasia and his own right to die.</p>
                        </div>
                    </div>
                </a>
                    
                <a href="" class="card">
                    <div class="card-content">
                        <div class="card-border"></div>
                        <img class="card-img" src="https://1.bp.blogspot.com/-Wf0d5vSo3xI/WOqEnPPoNVI/AAAAAAAAHag/7TkOxIN7FUE4XuqFcPBoiImHHkHLtRsygCLcB/s400/Abre%2Blos%2Bojos%2B04.jpg" alt="">
                        <div class="card-txt">
                            <h2 class="card-title">Abre los ojos</h2>
                            <p>una película hispano-franco-italiana de 1997, segunda de las dirigidas por Alejandro Amenábar.</p>
                        </div>
                     </div>
                </a>

                <a href="" class="card">
                    <div class="card-content">
                        <div class="card-border"></div>
                        <img class="card-img" src="https://www.re-thinkingthefuture.com/wp-content/uploads/2022/06/A7089-An-architectural-review-of-Playtime-1967-Image-2.jpg" alt="">
                        <div class="card-txt">
                            <h2 class="card-title">Playtime</h2>
                            <p>Barbara, une jeune touriste américaine en visite à Paris, et M. Hulot, qui a un rendez-vous avec un personnage important.</p>
                        </div>
                     </div>
                </a>

            </div>
        </section>
    </main>

    <!-- Footer -->
    <footer>
        <div class="footer-container">
            <p>Imprint</p>
            <p>All rights reserved.</p>
        </div>
    </footer>

    <!-- JavaScript -->
    <script src="sketch.js"></script>
</body>
</html>